.courses-flex-div{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 50px;
}
.syllabus-card-main-div{
  border: 1px solid white;
  padding: 20px;
  background-color: white;
}

.sylla-bus-card-img{
  height: 180px;
  width: 270px;
}

.course-type-p-tag{
  color: gray;
  margin: 0px;
  font-size: 13px;
}

.course-type-h-tag{
  color: black;
  margin: 0px;
  font-size: 18px;
}

.why-js-div-main{
  background-color: white;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.why-js-div-main-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
 
}
.why-js-div-main-flex-one{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
  width: 240px;
}

.why-js-svg{
  height: 50px;
  width: 50px;
}

.why-js-svg-text-tags h1{
    color: black;
    font-size: 16px;
    margin: 0px;

}
.why-js-svg-text-tags p{
    color: gray;
    font-size: 14px;
    margin: 0px;
}

.faq-main-div{
  
}
.faq-main-div-one{
  padding-left: 100px;
}

.faq-main-div-one h1{
  margin: 0px;
}

.details-of-course-flex-in{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

.learn-more-div{
  padding-top: 20px;
}

.learn-more-div-btn{
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
}

.details-deuarion-bg{
  background-color: #f5f6fa;
  height: 60px;
  width: 100px;
  display: flex;
    justify-content: center;
    align-items: center;
}
.details-deuarion-bg p{
  margin: 0px;
  color: gray;
  text-align: center;
}
.details-deuarion-bg h2{
  margin: 0px;
  color: black;
  font-size: 15px;
  text-align: center;
}
.home-page-flex-div {
  display: flex;
  justify-content: center;
  /* padding: 20px; */
}

.home-page-width-div {
  width: 100%;
}

.home-page-main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding-left: 180px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.main-flex-div-one {
  /* width: 60%; */
}
.main-flex-div-one h1 {
  font-size: 100px;
  margin: 0px;
  /* font-family: 'Hanalei Fill', cursive; */
  font-family: ui-serif;
}
.main-flex-div-one p {
  font-size: 19px;
  margin: 0px;
  color: #c3b1b1;
}
.main-flex-div-two {
  width: 40%;
  padding-top: 160px;
  padding-bottom: 160px;
}

.hp-img-tag {
  height: 500px;
}

.home-page-main-div-one {
  text-align: center;
  background-color: white;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.home-page-main-div-one h1 {
  font-family: math;

  color: black;
  /* margin: 0px; */
  animation: pulsate 2s infinite;
}

.details-flex-div-main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 50px;
  align-items: center;
}

.logo-s-flex-div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  /* padding-top: 100px; */
  padding-bottom: 50px;
  justify-content: center;
}

.details-img-one {
  height: 500px;
}
.details-div h1 {
  width: 500px;
}
.logo-svg-img {
  height: 100px;
  width: 100px;
  animation: logo-animation 8s ease-in-out infinite;
}

.logo-svg-img:nth-child(1) {
  animation-delay: 0s;
}

.logo-svg-img:nth-child(2) {
  animation-delay: 2s;
}

.logo-svg-img:nth-child(3) {
  animation-delay: 4s;
}
.logo-svg-img:nth-child(4) {
  animation-delay: 5s;
}
.logo-svg-img:nth-child(5) {
  animation-delay: 6s;
}
.logo-svg-img:nth-child(6) {
  animation-delay: 7s;
}
.logo-svg-img:nth-child(7) {
  animation-delay: 8s;
}
.logo-svg-img:nth-child(8) {
  animation-delay: 9s;
}

@keyframes logo-animation {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.8);
  }
  66% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .home-page-main-div {
    display: block;
    padding: 20px;
  }
  .main-flex-div-one h1 {
    font-size: 40px;
  }
  .main-flex-div-two {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .hp-img-tag {
    height: 240px;
  }
  .home-page-main-div-one {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    text-align: center;
    font-size: 10px;
    margin-top: -20px;
  }
  .details-flex-div-main {
    display: block;
    padding: 20px;
  }

  .details-div h1 {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  .details-img-one {
    width: 100%;
    height: 300px;
  }
  .why-js-div-main-flex{
    gap: 30px;
  }
}
